.topnav {
  background: white;
  margin-bottom: 2em;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em;
  text-align: center
}
section{
  border: solid 0.1em black;
 
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

header h1 {
  margin: 1em;
}

main {
  width: 70%;
  
}
article {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 1em;
}

article .station {
  border: solid 0.1em rgb(77, 10, 10);
}
article button{
  font-size: 60%;
  margin: 1em;
}

article div{
  padding: 0.5em;
}
#form{
display: flex;
flex-direction: column;
align-items: center;
}


.hidden {
  display: none;
}


#form div{
  padding: 0.5em;
}

#valfriData {
  border: solid 0.2em brown;
  margin-bottom: 0.5em;
}

/* Adjust to small screens*/
@media screen and (max-width: 375px){
body{
  font-size:70%;
}
article {/*grid for mobile*/
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 1em;
}

/* padding and margin*/
article div{
  padding-left:0;
  padding-right: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.topnav{
  margin-bottom: 0.5em;
  width: 50vw;
}
}